<div class="container">
    <app-header-bar>
    </app-header-bar>
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="activeGame">
                test
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="liveStats">
                test
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="liveMatches">
                test
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="liveMatches">
                test
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="standings">
                test
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="todaysNews">
                test
            </div>
        </div>
    </div>