<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <a routerLink="/" routerLinkActivities="active">
        Home
      </a>
      <p></p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
      <p></p>
      <a routerLink="/login" routerLinkActivities="active">
        <li>Login</li>
      </a>
      <a routerLink="/profilepage" routerLinkActivities="active">
        <li>Profile Page</li>
      </a>
    </mat-drawer>
    
    <div class="example-sidenav-content">
        <app-toolbar (drawerEvent)="toggleDrawer($event)"></app-toolbar>
      </div>
    
    </mat-drawer-container>